.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}