.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.colordSpan {
  color: #ec252f;
}
.containerForCards {
  margin-top: 4rem;
}
.myBtnContainer {
  display: flex;
  justify-content: center;
}

